mysource_backend/node_modules/
mysource_frontend/node_modules/
mysource_backend/.env
mysource_frontend/.env
mysource_backend/dist/
mysource_frontend/dist/
mysource_backend/logs/
mysource_backend/uploads/
mysource_backend/.env.production
bcopy/
fcopy/
mysource_backend/package-lock.json
mysource_frontend/package-lock.
/mysource_backend/.htaccess
/mysource_frontend/.htaccess